*.sublime-workspace
.DS_Store
__pycache__/
*.pyc
*.pyo
.env
.venv/
venv/
.eggs/
*.egg-info/
*.egg
dist/
build/
.tox/
.mypy_cache/
.pytest_cache/
.ruff_cache/
htmlcov/
.cobertura.xml
coverage.xml
*.orig
